language: android
jdk: oraclejdk8
env:
  global:
    - ANDROID_API=27
android:
  components:
    - tools
    - platform-tools
    - build-tools-28.0.3
    - android-${ANDROID_API}
    - extra-android-m2repository
    - extra-google-m2repository
    - extra-google-android-support
  licenses:
    - android-sdk-license-.+
addons:
  apt:
    # Flutter depends on /usr/lib/x86_64-linux-gnu/libstdc++.so.6 version GLIBCXX_3.4.18
    sources:
      - ubuntu-toolchain-r-test # if we don't specify this, the libstdc++6 we get is the wrong version
    packages:
      - libstdc++6
      - fonts-droid
before_script:
  - wget http://services.gradle.org/distributions/gradle-4.6-bin.zip
  - unzip -qq gradle-4.6-bin.zip
  - export GRADLE_HOME=$PWD/gradle-4.6
  - export PATH=$GRADLE_HOME/bin:$PATH
  - git clone https://github.com/flutter/flutter.git -b master --depth 1
script:
  - ./flutter/bin/flutter -v build apk

cache:
directories:
  - $HOME/.pub-cache